.cardNormalize{
    height : 100% ;
}

.section-repo a, p, span { 
    font-size: 80%;
}

.section-repo h6{
    font-weight: 400;
}

.section-repo a{
    font-weight: 600;
}

.repo-language-color {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    position: relative;
    top: 1px;
    width: 10px;
    background-color: #f1e05a;
    margin-right : 3px;
}
